.content-1 {
  background-image: url(../images/background2.jpg);
  background-size: cover;
  grid-area: header;
}

.content-2 {
  background-image: url(../images/background7.jpg);
  background-size: cover;
}

.content-3 {
  background-image: url(../images/background8.jpg);
  background-size: cover;
}

.content-4 {
  background-image: url(../images/background9.jpg);
  background-size: cover;
}

.content-5 {
  background-image: url(../images/background10.jpg);
  background-size: cover;
}

.content-6 {
  background-image: url(../images/background11.jpg);
  background-size: cover;
}

.content:hover .overlay-p {
  opacity: 0.5;
  cursor: pointer;
}

.content {
  position: relative;
  height: 5rem;
  width: 25rem;
}

.overlay-p {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #787979;
}

.content .p {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  font-size: 2em;
  text-shadow: -1px -1px 0 #000, 1px 5px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.photo {
  margin-left: 0;
}

.p {
  padding: 1em;
  height: 100%;
  width: 100%;
}

.text {
  color: white;
  padding: 1em;
  margin-left: 1em;
}

.body {
  display: flex;
  flex-direction: row;
}

.color-icon {
  color: white; 
  font-size: 2.5rem;
  z-index: 1;
}

@media (max-width: 450px) {
.body {
  display: flex;
  flex-direction: column;
}
.content {
  margin: 1rem;
  width: 90%;
}
.content .p {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  margin-top: 0.1rem;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5em;
  text-shadow: -1px -1px 0 #000, 1px 5px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
}