.content-1 {
  background-image: url(../images/dynamicmemes.png);
  background-size: cover;
  grid-area: header;
}

.content-2 {
  background-image: url(../images/passwordgenerator.png);
  background-size: cover;
}

.content-3 {
  background-image: url(../images/weather.png);
  background-size: cover;
}

.content-4 {
  background-image: url(../images/workday.png);
  background-size: cover;
}

.content-5 {
  background-image: url(../images/rpdr.png);
  background-size: cover;
}

.content-6 {
  background-image: url(../images/background11.jpg);
  background-size: cover;
}

.each-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.478);
  padding: 0.25rem;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.wrapper {
  display: flex;
}

.project-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.15rem;
  margin-left: 0.5rem;
}

.card {
  width: 300px;
  height: 198px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.color-icon {
  color: rgba(116, 150, 173, 0.808);
  font-size: 2rem;
  text-shadow: -1px -1px 0 #000, 1px 1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.project-name {
  padding: 0.5rem;
}

.project-z {
margin-bottom: 1rem;
}

.body {
  display: grid;
  grid-template-columns: 470px 470px;
}

@media (max-width: 450px) {
  .body {
    max-width: 100%;
    display: grid;
    grid-template-columns: 350px;
  }

  .each-card {
    margin-bottom: 1rem;
  }
}